#board {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: 100%;
}

#board tr:not(:last-child) { border-bottom: 2px solid #D0D2D6; }

/* Messages */

#board:before {
  -webkit-transform: translate3d(0, 0, 0);
  font-size: 2.93625em;
  font-weight: bold;
  padding-top: calc(50% - (7.25% / 2));
  position: absolute;
  text-align: center;
}

#board.draw:before { content: "It\2019s a tie! Play again?"; }
#board.loss:before { content: 'You lose. Play again?'; }

/* Open Message */

#board.message { cursor: pointer; }

#board.message:before {
  -moz-animation: message-open 0.5s 1;
  -webkit-animation: message-open 0.5s 1;
  animation: message-open 0.5s 1;
  background: rgba(255, 255, 255, 0.85);
  height: 100%;
  text-shadow: 1px 1px 4px #D0D2D6, 0 0 72px white;
  width: 100%;
}

/* Close Message */

#board:not(.message):before {
  -moz-animation: message-close 0.5s 1;
  -webkit-animation: message-close 0.5s 1;
  animation: message-close 0.5s 1;
  content: '';
}

/* Animations */

@-moz-keyframes message-open {
  from {
    color: transparent;
    background: transparent;
    text-shadow: none;
  }

  to {
    background: rgba(255, 255, 255, 0.85);
    text-shadow: 1px 1px 4px #D0D2D6, 0 0 72px white;
  }
}

@-webkit-keyframes message-open {
  from {
    color: transparent;
    background: transparent;
    text-shadow: none;
  }

  to {
    background: rgba(255, 255, 255, 0.85);
    text-shadow: 1px 1px 4px #D0D2D6, 0 0 72px white;
  }
}

@-moz-keyframes message-close {
  from {
    background: rgba(255, 255, 255, 0.85);
    height: 100%;
    text-shadow: 1px 1px 4px #D0D2D6, 0 0 72px white;
    width: 100%;
  }

  to {
    background: transparent;
    text-shadow: none;
  }
}

@-webkit-keyframes message-close {
  from {
    background: rgba(255, 255, 255, 0.85);
    height: 100%;
    text-shadow: 1px 1px 4px #D0D2D6, 0 0 72px white;
    width: 100%;
  }

  to {
    background: transparent;
    text-shadow: none;
  }
}

@media all and (max-width: 648px) {
  #board:before {
    font-size: 7.25vw;
  }
}
